.card {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.btnPlay {
    padding: 16px;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    align-self: center;
}

.title {
    white-space: pre-line;
    overflow: hidden;
}
